.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
.redcar/*
config/database.yml
config/ldap.yml
config/environments/development.rb
config/environments/production.rb
config/environments/test.rb
doc/*
*~
.idea/*
.ruby-version
public/javascripts/all.js
public/stylesheets/all.css
output.html