<p><b>Name:</b>
  <%= @operating_system.name %>
</p>

<p><b>Icon:</b>
  <%= @operating_system.icon %>
</p>

<p><b>Connection help:</b>
  <%= @operating_system.connection_help %>
</p>


<%= link_to 'Edit', edit_operating_system_path(@operating_system), :class=>"button edit-button" %> |

