
<% content_for :sidebar_head do %>
  VMT in labs
<% end %>

<% content_for :sidebar do %>
 <%if @lab!=nil%>
    <li><%= link_to('Back to lab', :controller=>'labs', :action=>'show', :id=>@lab) %></li>
    <%else%>
    <li><%= link_to('Back to labs', :controller=>'labs', :action=>'index') %></li>
    <%end%>
 

<% end %>


<% content_for :body do %>
<div class="head">
<%if @lab!=nil%>
<%= @lab.name%>
<%else%>
Add VMT
<%end%></div>
<div class="hr"></div>
<div class="text-box round">

<%= render 'form' %>

</div>
<% end %>