
<% content_for :sidebar_head do %>
  Virtual Machine Templates
<% end %>

<% content_for :sidebar do %>

  <li><%= link_to 'Back', vmts_path %></li>

<% end %>


<% content_for :body do %>
<div class="head">New Virtual machine template</div>
<div class="hr"></div>
<div class="text-box round">

<%= render 'form' %>

</div>
<% end %>