<p>
  <b>Image:</b>
  <%= @vmt.image %>
</p>

<p>
  <b>Xml script:</b>
  <%= @vmt.xml_script %>
</p>

<p>
  <b>Private:</b>
  <%= @vmt.private %>
</p>
<%= link_to 'Edit Virtual machine template', edit_vmt_path(@vmt), :class=>'button edit-button' if @admin%>