<% content_for :sidebar_head do %>
  Administration
<% end %>

<% content_for :sidebar do %>
  <li><%= link_to('Running Instances', :controller=>'hosts', :action=>'instances')%></li>
  <li><%= link_to('Virtual Machines', :controller=>'hosts', :action=>'machines')%></li>
<% end %>


<% content_for :body do %>
  <div class="head">Virtual Machines</div>
  <div class="hr"></div>
  <div class="text-box round">
    <%= debug @images  %>
  </div>
<% end %>
