/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 100px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: white;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu-tools {
	position: absolute;
	width: 150px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: white;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	font-size: 0.8em;
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 5px;
	text-indent: 18px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

.contextMenu LI.terminate A { background-image: url(../images/mini-down.gif); }
.contextMenu LI.details A { background-image: url(../images/details.png); }
.contextMenu LI.run A { background-image: url(../images/mini-new.png); }
.contextMenu LI.kill A { background-image: url(../images/mini-down.gif); }