#header-bar {
	width: 100%;
	color: white;	
	background-image: url("../images/header-bg.png"); 
	background-repeat: repeat-x;
	height: 46px;
}


#name {
	color: white;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: 500;
	margin-top: 14px;
	padding-left: 14px;
	color: #F4F4F4;
}

#control ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	height: 46px;
}

#control li a {
	font-family: Helvetica, Arial, Verdana, sans-serif;	
	color: #9EB6CB;
	text-decoration: none;
	font-size: 15px;
}

#control li {
	height: 46px;
	line-height: 46px;
	display: block;
	float: left;
	margin-left: 30px;
}

#control .settings {
	background: transparent url("../images/settings.png") no-repeat 0px 16px;
	text-indent: 20px;
	display: inline-block;
}

#control .profile {
	background: transparent url("../images/account.png") no-repeat 0px 16px;
	text-indent: 20px;
	display: inline-block;
}

#logout {
	height: 46px;
	line-height: 46px;
	text-align: right;
}

#logout-button {
	border: 1px solid #344C5E;
	padding: 3px 6px;
	background: #9EB6CB;
	cursor: pointer;
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin-right: 10px
}

#logout-button a {
    text-decoration: none;
    color: #475F75;
}

#logout-button a:visited {
    color: #475F75;
}