
#container {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 600px;
    min-width: 960px;
    overflow: hidden;
}

#body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #F0F0F0;
    min-height: 600px;
    border-bottom: 1px solid #C2C2C2;
    overflow: hidden;
}

#left {
    float:left;
    width: 300px;
    margin-left: -100%;
    min-width: 300px;
    min-height: 600px;
    border-right: 1px solid #C2C2C2;
    background: white;
    margin: 0;
    padding: 0;
    margin-bottom: -2000px; padding-bottom: 2000px;
}

#right {
    margin-left: 300px;
    padding: 20px;
    font-size: 1em;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    display: block;
}

#menu-show {
    display: none;
    height: 30px;
    width: 15px;
    position: absolute;
    left: 0;
    background: transparent url("../images/menu-show.png") no-repeat 0 0px;
    cursor: pointer;
}

/* for all */

.w-4 {
    width: 40px;
}

.w-6 {
    width: 60px;
}

.edit-button {background: url("../images/edit.png") 6px 2px no-repeat;}

.delete-button {background: url("../images/delete.png") 6px 2px no-repeat;}

.add-button {background: url("../images/add.png") 6px 2px no-repeat;}

.submit-button {background: url("../images/submit.png") 6px 2px no-repeat;}

.cancel-button {background: url("../images/cancel.png") 6px 2px no-repeat;}

.button:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color:black;
}

.button {
    /*increase roundness (for firefox)*/
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 5px;
    /*increase roundness (for webkit)*/
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 5px;
    border: 2px solid rgba(125, 159, 186, .5);
    padding-left:25px;
    padding-right:8px;
    padding-top:3px;
    padding-bottom:3px;
    background-color: rgba(255, 255, 255, .7);
    text-decoration:none;
    color: #666666;
    cursor: pointer;
    margin-bottom: 10px;
}

div.buttons {
    display:inline-block;
}
    
input[type="submit"] {  
     /*increase roundness (for firefox)*/
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 5px;
    /*increase roundness (for webkit)*/
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 5px;
    border: 2px solid rgba(125, 159, 186, .5);
    padding-left:25px;
    padding-right:8px;
    padding-top:3px;
    padding-bottom:3px;
    background: url("../images/submit.png") 6px 2px no-repeat rgba(255, 255, 255, .7);
    text-decoration:none;;
    cursor: pointer;
}  

.action-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url("../images/action.png") no-repeat 0px 0px;
    cursor: pointer;
}

.tools-button {
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url("../images/action.png") no-repeat 0px 0px;
    cursor: pointer;
}

.action-menu {
    display: none;
    width: 150px;
    background-color: white;
    padding: 5px;
}

.tools-menu {
    float: right;
    right: 20px;
    color: gray;
    font-size: 0.8em;
    vertical-align: middle;
    display: block;
}
.pointer {
    cursor: pointer;
}

.head {
    color: #235275;
    font-size: 1.4em;
    font-weight: 500;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}

.hr {
    background: transparent;
    border-top: 2px groove white;
    width: 100%;
    margin-bottom: 20px;
}

.text-box {
    /*increase roundness (for firefox)*/
    -moz-border-radius: 5px;

    /*increase roundness (for webkit)*/
    -webkit-border-radius: 5px;

    border: 1px solid #C2C2C2;
    background: white;
    font-size: 1em;
    line-height: 1.5em;
    font-family: Georgia, serif;
    font-weight: 100;
    padding: 1.5em;
    margin-bottom: 1.5em;
    overflow: auto;
}

.text-small {
    font-size: 0.8em;
}

#content-table table {
    border-collapse: collapse;
    font: 1.0em sans-serif, "Century Gothic", "Trebuchet MS", Arial, Helvetica;
    font-size: .94em;
    width: 100%;
}

table caption {
    padding: 4px 15px;
    /*increase roundness (for firefox)*/
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;

    /*increase roundness (for webkit)*/
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;

    caption-side: top;
    text-align: left;
    color: #215B8D;
    background: white url("../images/caption-bg.png") repeat-x;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;

    /* caption 1px shift fix for FF */
    -moz-margin-start: -1px;

    /* caption 1px shift fix for Chrome */
    -webkit-margin-end: -1px;

}

/* caption fix */
html:first-child caption { /* Opera only */
 margin-left: 0;
}


#content-table .col1 {
    background: #f9fcfe;
}

#content-table th {
    font-weight: normal;
    color: #678197;
    text-align: left;
    border: 1px solid #e5eff8;
    padding: .3em 1em;
    border: 1px solid #C0C0C0;
}

#content-table thead th {
    text-align: left;
    color: #4C4C4C;
    /*background: white url("../images/th-bg.png") repeat-x;
    background: #DFDFDF;*/
    background: -moz-linear-gradient(100% 100% 90deg, #fff, #DFDFDF);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#DFDFDF));
    border: 1px solid #C0C0C0;
}


#content-table td {
    font-size: 0.8em;
    color: #8E8E8E;
    padding: .5em 1.5em;
    text-align: left;
    background: white;
    border: 1px solid #C0C0C0;
    /*background: white url("../images/td-bg.png") repeat-x;*/
    background: #FDFDFD;
}

#content-table tr:hover td {
    background: #E9F3FF;
}

#content-table a {
    text-decoration: none;
}

.error .ui-dialog-titlebar {
    background: #D54141;
}

.alert .ui-dialog-titlebar {
    background: #519FCB;
}

.running {
    color: #508440;
    padding: 20px;
}

.terminated {
    color: #A63A58;
}

.bold {
    font-weight: bold;
}

.user_li {
  float:left;
  width:125px;
  display:none;
}
.letter_a {
  display:block;
}