<% content_for :body do %>
  <div class="head">Permission error</div>
  <div class="hr"></div>
  <div class="text-box round">
    <p> You dont have the needed permission to view this page.</p>
  </div>
<% end %>