<h2> About the Cyber project and authors</h2>

<table style="width:100%;">
  <tr>
    <td style="width:50%;">
      <h3>Cyber project</h3>
      <p>...</p>
      <h4>Distance laboratory project</h4>
      <p>...</p>
    </td>
    <td style="width:50%;">
      <h3>Authors</h3>
      <p><b>Tiia Tänav</b> - user-interface developer, Sept 2010 - ... </p>
      <p><b>Margus Ernits</b> - project mentor</p>
      <p><b>Carolyn Fischer</b> - user-inteface developer</p>
      <p><b>Aivar Guitar</b> - virtualization backend developer</p>
      <p><b>Madis Toom</b> - user-interface developer, Sept-Dec 2010</p>
    </td>
  </tr>
</table>