<h1>404 - page not found</h1>
<div id="messages">
    <%= content_tag(:div, flash[:error], :id => 'flash_error', :escape=>false) if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => 'flash_notice', :escape=>false) if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => 'flash_alert', :escape=>false) if flash[:alert] %>
</div>