<p>Tere <%=current_user.username%>!</p>
<p>Oled sisenenud EIK virtuaalaborite keskkonda i-Tee.</p>
<p>Keskkonna kasutamiseks:</p>
<ul>
  <li>vali <strong>Labs</strong> menüüst kursus;</li>
  <li>loe läbi õppematerjalid ja tee enesetestid;</li>
  <li>käivita valitud kursus <strong>Start</strong> abil;</li>
  <li>käivita labori virtuaalmasinad;</li>
  <li>sisene käivitatud masinatesse (unix puhul ssh student@labori-ip);</li>
  <li>tee laboritöö;</li>
  <li>lõpeta labor kasutades <strong>End Lab</strong> nuppu</li>
  <li>vajadusel katkesta labori sooritus ja salvesta virtuaalmasinate hetkeseis kasutades <strong>Pause</strong> nuppu</li>
</ul>

<p>käivitatud virtuaalmasin saab omale IP aadressi, virtuaalmasina kasutamiseks käsureal: <br/>
    ssh student@IP<br/>
    parool: student </p>
    
    
<%if @admin then%>
  <p>Sa oled administraator</p>
  <p>Emulated virtualization environment: <%= ITee::Application.config.emulate_virtualization %></p>
  <p>Emulated ldap environment: <%= ITee::Application.config.emulate_ldap %></p>
<%end%>