<% content_for :sidebar_head do %>
  Dashboard
<% end %>

<% content_for :sidebar do %>
    <li><a href="">Dynamic name server for beginners</a></li>
    <li><a href="">LDAP configurations</a></li>
    <li><a href="">Introduction to GNU/Linux</a></li>
    <li><a href="">Multimedia Communications and Networking</a></li>
<% end %>


<% content_for :body do %>
  <div class="head">Home View</div>
  <div class="hr"></div>
  <div class="text-box round">

    <p>Emulated virtualization environment: <%= ITee::Application.config.emulate_virtualization %></p>
    <p>Emulated eucalyptus environment: <%= ITee::Application.config.emulate_eucalyptus %></p>
    <p>Emulated ldap environment: <%= ITee::Application.config.emulate_ldap %></p>

    <% if @admin %>
      <div id="adminmenu">
        Sa oled administraator
      </div>
    <%else%>
      <div id="usermenu">
        Sa oled tavakasutaja
      </div>
    <%end%>
  </div>
<% end %>