<h1> i-tee</h1>

<%= link_to('hosts', :controller=>'hosts', :action=>'index')%> |
<%= link_to('labs', :controller=>'labs', :action=>'index')%> |
<%= link_to('materials', :controller=>'materials', :action=>'index')%> |
<%= link_to('vms', :controller=>'vms', :action=>'index')%>