<p>Hello, <%=current_user.username%>!</p>
<p>You have logged into the IT College distance laboratory system i-Tee.</p>
<%if @admin then%>
  <p>You are an administrator</p>
<%end%>
<%if @manager then%>
  <p>You are a moderator</p>
<%end%>

<p>Using this system:</p>
<ul>
  <li>choose a lab from the <strong>Labs</strong> menu;</li>
  <li>read trough the materials and do the tests;</li>
  <li>start the chosen lab with the <strong>Start</strong> button;</li>
  <li>start the virtual machines in the lab;</li>
  <li>log into the machines (in case of unix: ssh given_username@given_ip );</li>
  <li>do the lab;</li>
  <li>end the lab by using the <strong>End Lab</strong> button</li>
  <li>You can suspend the lab by pausing the machines by using the <strong>Pause</strong> button and continue the lab later</li>
</ul>
  
    
