<%if @admin then%><p>Sa oled administraator</p>
<p>Emulated virtualization environment: <%= ITee::Application.config.emulate_virtualization %></p>
<p>Emulated ldap environment: <%= ITee::Application.config.emulate_ldap %></p>
<%end%>
<p>Siia tuleb abiinfo, mis räägib i-tee keskkonna kasutamisest</p>
<p> valida courses alt labor, vajutada nupul start et laborit alustada, continue et jätkata,
    restart et käimasolevat uuesti alustada
    ja view et vaadata lõpetatud sooritust.</p>
<p>virtuaalmasinaid saab näha my machines all, või ka neile vastavate laborisoorituste lehtedel.</p>
<p>käivitatud virtuaalmasin saab omale IP aadressi, virtuaalmasina kasutamiseks käsureal: 
    ssh student@IP
    parool: student </p>