<script>
  jQuery(function ($) {
	$('#basic-modal .modal').click(function (e) {
		$('#basic-modal-content').modal();

		  return false;
	});
  });
</script>

<div id='basic-modal'>
    <a href='#' class='modal'>click</a>
</div>


<div id="basic-modal-content">
    <h3>Basic Modal Dialog</h3>
    <p>For this demo, SimpleModal is using this "hidden" data for its content. You can also populate the modal dialog with standard HTML or with DOM element(s).</p>
    <p>Examples:</p>
    <p><code>$('#basicModalContent').modal(); // jQuery object; this demo</code></p>
    <p><code>$.modal(document.getElementById('basicModalContent')); // DOM</code></p>
    <p><code>$.modal('&lt;p&gt;&lt;b&gt;HTML&lt;/b&gt; elements&lt;/p&gt;'); // HTML</code></p>
</div>
