


<% content_for :sidebar_head do %>
Profile
<% end %>

<% content_for :sidebar do %>
  <li></li>
<% end %>

<% content_for :body do %>
  <div class="head"><%= @user.username%></div>
  <div class="hr"></div>
  <div class="text-box round">
    viewing profile, but there's nothing here
  </div>
  <%end%>