<p> this will be a guide to user permissions in the server, to help admins set up the system.</p>
<p>it will let you know under what user the system is run, what directories need user permissions</p>

<p>

<%= %x(/var/www/railsapps/i-tee/utils/info.sh 2>&1)%>
</p>