<p> this will be a guide to virtual machine templates to use the system.</p>
<p>it will let you know what is needed to do with the virtual machine templates in order for the system to be able to communicate with the machines  </p>
<p><b>needed programs for Ubuntu Linux template</b></p>
  
<p>acpid (needed for virsh shutdown):<br/>
  <i>sudo apt-get install acpid</i>
</p>
<p>Ruby for virtual machine feedback <br/>
  <i>sudo apt-get install ruby</i>
</p>
<p>curl<br/>
  <i>sudo apt-get install curl</i>
</p>
<p>Openssh server for ssh connections<br/>
  <i>sudo apt-get install ssh<br/>
    sudo mkdir /root/.ssh<br/>
    sudo chmod 700 /root/.ssh<br/>

  curl --insecure https://elab.itcollege.ee/itcollege_ssh.pub &gt;&gt; /root/.ssh/authorized_keys2</i><br/>
</p>
<p>Shellinabox AJAX console for web based logins in ubuntu 12.04<br/>
  <i>wget https://launchpad.net/ubuntu/+archive/primary/+files/shellinabox_2.14-1_amd64.deb</i><br/>
  <i>dpkg -i shellinabox_2.14-1_amd64.deb</i><br/>
</p>
<p>For newer ubuntu 12.10+ just enable universe source and use apt-get<br/>
  <i>apt-get install shellinabox</i>
</p>
<p>
Optional packages<br/>
<pre>
sudo apt-get install htop links 
</pre>
</p>
<p><b>needed settings</b></p>
export LC_ALL=C to root's .bashrc

