<p> this will be a guide to virtual machine templates to use the system.</p>
<p>it will let you know what is needed to do with the virtual machine templates
  in order for the system to be able to communicate with the machines  </p>
<p>needed programs</p>
<p>needed settings</p>
